{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailpicture_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.body|richtext }}

    <p>1</p>
    {% image page.test_image width-800 alt="original" %}
    <p>2</p>
    {% image page.test_image width-800 format-webp-lossless alt="lossless" %}
    <p>3</p>
    {% image page.test_image width-800 format-webp alt="lossy default" %}
    <p>4</p>
    {% image page.test_image width-800 format-webp webpquality-70 alt="lossy 70" %}

    <h2>Picture</h2>

    <h3>Vanilla</h3>

    <picture>
      {% image page.test_image width-782 format-webp as webp_image %}
      <source srcset="{{ webp_image.url }}" type="image/webp">
      {% image page.test_image width-783 alt="original" %}
    </picture>

    <h3>Template tag</h3>

    {# {% picture_webp page.test_image width-783@768w alt="original" %} #}
    {% webp_picture page.test_image width-784 alt="original" %}


    <p>Proposed APIs:</p>

    {# {% webp_picture page.test_image width-800 width-400 sizes="(max-width: 600px) 480px, 800px" alt="original" %} #}
    {# {% webp_picture page.test_image width-{400,800} sizes="(max-width: 600px) 480px, 800px" alt="original" %} #}
    {# {% webp_picture page.test_image width-1-400 width-1-800 sizes="(max-width: 600px) 480px, 800px" alt="original" %} #}

    <p>Output:</p>

    <picture>
      {% image page.test_image width-800 format-webp as image_desktop_webp %}
      {% image page.test_image width-400 format-webp as image_mobile_webp %}
      <source
        srcset="{{ image_desktop_webp.url }} {{ image_desktop_webp.width }}w, {{ image_mobile_webp.url}} {{ image_mobile_webp.width }}w"
        sizes="(max-width: 600px) 480px, 800px"
        type="image/webp"
      >
      {% image page.test_image width-800 as image_desktop_fallback %}
      {% image page.test_image width-400 as image_mobile_fallback %}
      <img
        srcset="{{ image_desktop_fallback.url }} {{ image_desktop_fallback.width }}w, {{ image_mobile_fallback.url}} {{ image_mobile_fallback.width }}w"
        sizes="(max-width: 600px) 480px, 800px"
        src="{{ image_desktop_fallback.url }}" alt="original"
      >
    </picture>
{% endblock %}
